/* Coolors Exported Palette - coolors.co/4a4238-4d5359-508484-79c99e-97db4f */

/* HSL */
$color1: hsla(33%, 14%, 25%, 1);
$color2: hsla(210%, 7%, 33%, 1);
$color3: hsla(180%, 25%, 42%, 1);
$color4: hsla(148%, 43%, 63%, 1);
$color5: hsla(89%, 66%, 58%, 1);

/* RGB  green and grays */
$color1: rgba(74, 66, 56, 1);
$color2: rgba(77, 83, 89, 1);
$color3: rgba(80, 132, 132, 1);
$color4: rgba(121, 201, 158, 1);
$color5: rgba(151, 219, 79, 1);


/* HSL */
$color1: hsla(33%, 14%, 25%, 1);
$color2: hsla(251%, 67%, 90%, 1);
$color3: hsla(229%, 50%, 77%, 1);
$color4: hsla(327%, 23%, 62%, 1);
$color5: hsla(343%, 23%, 48%, 1);

/* RGB */
$color1: rgba(74, 66, 56, 1);
$color2: rgba(220, 214, 247, 1);
$color3: rgba(166, 177, 225, 1);
$color4: rgba(180, 134, 159, 1);
$color5: rgba(152, 95, 111, 1);


/* Coolors Exported Palette - coolors.co/eae0cc-c9ada1-a0a083-798478-4d6a6d */

/* HSL */
$color1: hsla(40%, 42%, 86%, 1);
$color2: hsla(18%, 27%, 71%, 1);
$color3: hsla(60%, 13%, 57%, 1);
$color4: hsla(115%, 5%, 49%, 1);
$color5: hsla(186%, 17%, 36%, 1);

/* RGB */
$color1: rgba(234, 224, 204, 1);
$color2: rgba(201, 173, 161, 1);
$color3: rgba(160, 160, 131, 1);
$color4: rgba(121, 132, 120, 1);
$color5: rgba(77, 106, 109, 1);

/* Coolors Exported Palette - coolors.co/000000-dcdcdd-beb7a4-c5c3c6-46494c */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(240%, 1%, 86%, 1);
$color3: hsla(44%, 17%, 69%, 1);
$color4: hsla(280%, 3%, 77%, 1);
$color5: hsla(210%, 4%, 29%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(220, 220, 221, 1);
$color3: rgba(190, 183, 164, 1);
$color4: rgba(197, 195, 198, 1);
$color5: rgba(70, 73, 76, 1);
