<h1>Add Bathroom Review</h1>

<div class="">
  <a href="#/select">Gotta Go?</a>
  <a href="#/results">View Reviews</a>
  <br>
  <a href="#/results">All Reviews</a>
  <a href="#/genderSeparate">Gender Separate</a>
  <a href="#/genderNeutral">Gender Neutral</a>
  <a href="#/handicap">Handicap</a>
  <a href="#/familyFriendly">Family Friendly</a>
  <br>
  <a href="#/fiveStar">5-Star</a>
  <a href="#/fourStar">4-Star</a>
  <a href="#/threeStar">3-Star</a>
  <a href="#/twoStar">2-Star</a>
  <a href="#/oneStar">1-Star</a>
</div>

<!-- <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>


<div id="container">

  <!-- <img class="addReviewLogo" src="images/privyLogo.png" alt=""> -->

<form>

  <h3>Bathroom Rating</h3>
  <div class="rating">
            <input id="star5" name="star" type="radio" ng-value="5" ng-model="review.rating" class="radio-btn hide" />
            <label for="star5">☆</label>
            <input id="star4" name="star" type="radio" ng-value="4" ng-model="review.rating" class="radio-btn hide" />
            <label for="star4">☆</label>
            <input id="star3" name="star" type="radio" ng-value="3" ng-model="review.rating" class="radio-btn hide" />
            <label for="star3">☆</label>
            <input id="star2" name="star" type="radio" ng-value="2" ng-model="review.rating" class="radio-btn hide" />
            <label for="star2">☆</label>
            <input id="star1" name="star" type="radio" ng-value="1" ng-model="review.rating" class="radio-btn hide" />
            <label for="star1">☆</label>
            <div class="clear"></div>
  </div>


  <h3>Public or Business</h3>
  <input type="radio" name="Type of Bathroom" value="Business" ng-model="review.type"> Business </br>
  <input type="radio" name="Type of Bathroom" value="Public" ng-model="review.type"> Public </br>


  <h3>Type of Bathroom</h3>
  <input type="checkbox" name="Type of Bathroom" ng-value="separate" ng-model="review.separate">Gender Separate<br>
  <input type="checkbox" name="Type of Bathroom" ng-value="neutral" ng-model="review.neutral">Gender Neutral<br>
  <input type="checkbox" name="Type of Bathroom" ng-value="handicap" ng-model="review.handicap">Handicap<br>
  <input type="checkbox" name="Type of Bathroom" ng-value="family" ng-model="review.family">Family Friendly<br>
  <input type="checkbox" name="Type of Bathroom" ng-value="single-stall" ng-model="review.single">Single Stall<br>

  <h3>Comments</h3>
  <input type="text" size="80" height="80px" name="review text" placeholder="Additional Information" ng-model="review.comment"><br>


  <button type="button" ng-click="submitToReviews(review)"><a>Submit Review</a></button>
  <!-- Add route <param name="" value=""> -->

</form>

</div>
