<div class="homePage">
  <img class="homeLogo" src="images/privyLogo.png" alt="">

  <div class="topper">

      <a href="#/select">Gotta Go?</a>
      <a href="#/results">View Reviews</a>
    </div>
<!-- 

      <div class="one"><a href="#/select">Gotta Go?</a></div><br>


      <div class="two"><a href="#/genderSeparate">Gender Separate</a></div><br>
      <div class="three"><a href="#/genderNeutral">Gender Neutral</a></div><br>
      <div class="four"><a href="#/handicap">Handicap</a></div><br>
      <div class="five"><a href="#/familyFriendly">Family Friendly</a></div><br> -->


  </div>

</div>
