
<div class="homePage">


  <img class="homeLogo" src="images/privyLogo.png" alt="">

  <div class="topper">

      <a href="#/select">Gotta Go?</a>


      <a href="#/genderSeparate">Gender Separate</a>
      <a href="#/genderNeutral">Gender Neutral</a>
      <a href="#/handicap">Handicap</a>
      <a href="#/familyFriendly">Family Friendly</a>

      <a href="#/fiveStar">5-Star</a>
      <a href="#/fourStar">4-Star</a>
      <a href="#/threeStar">3-Star</a>
      <a href="#/twoStar">2-Star</a>
      <a href="#/oneStar">1-Star</a>
    </div>
  </div>

</div>
