<div class="page-header">
  <h1><span>{{locationReviewsArray[0].name}}<small>Reviews</small></span></h1>
</div>

<div privynav class="stickyNav"></div>

<div class="results">
    <!-- <h3>{{locationReviewsArray[0].name}}</h3> -->
    <!-- add average rating for this location. review.rating(average) -->
    <p ng-if="review.type != null">{{review.type}}</p>

<div ng-repeat="(detail, place) in placeDetails">
  <h3 ng-if="detail === 'name'">{{place}}</h3>

  <p ng-if="detail == 'vicinity'">{{place}}</p>
  <p ng-if="detail == 'opening_hours'">Open now: {{place.open_now}}</p>
</div>
<h3>Average Rating: {{averageRating}}</h3>


<div class="results">

    <p ng-if="review.type != null">{{review.type}}</p>
    <div id="locationMap"> </div>

        <span ng-repeat="review in locationReviewsArray">
            <div class="resultsBlock">
                <h5>Name: {{review.name}}</h5>
                <h5>Rating: {{review.rating}}</h5>
                <p>Comment: {{review.comment}}</p>
                <li ng-if="review.family === true">Family Friendly</li>
                <li ng-if="review.handicap === true">Handicap Accessible</li>
                <li ng-if="review.separate != null">Gender Separate</li>
                <li ng-if="review.neutral != null">Transgender Friendly</li>
                <li ng-if="review.single != null">Single Stall</li> <br>

          </div>
        </span>
</div>
