<div class="">
  <a href="#/select">Gotta Go?</a>
  <a href="#/results">View Reviews</a>
  <br>
  <a href="#/results">All Reviews</a>
  <a href="#/genderSeparate">Gender Seperate</a>
  <a href="#/genderNeutral">Gender Neutral</a>
  <a href="#/handicap">Handicap</a>
  <a href="#/familyFriendly">Family Friendly</a>
  <br>
  <a href="#/fiveStar">5-Star</a>
  <a href="#/fourStar">4-Star</a>
  <a href="#/threeStar">3-Star</a>
  <a href="#/twoStar">2-Star</a>
  <a href="#/oneStar">1-Star</a>
</div>

<div ng-repeat="(detail, place) in placeDetails">
  <p ng-if="detail === 'name'">{{place}}</p>
  <p ng-if="detail == 'vicinity'">{{place}}</p>
  <p ng-if="detail == 'opening_hours'">Open now: {{place.open_now}}</p>
</div>

<div class="results">

    <input type="text" ng-model="search" placeholder="Search"><br>

    <p ng-if="review.type != null">{{review.type}}</p>
    <div id="locationMap"> </div>

        <span ng-repeat="review in locationReviewsArray">
                <h5>Rating: {{review.rating}}</h5>
                <p>Comment: {{review.comment}}</p>
                <li ng-if="review.family === true">Family Friendly</li>
                <li ng-if="review.handicap === true">Handicap Accessible</li>
                <li ng-if="review.separate != null">Gender Separate</li>
                <li ng-if="review.neutral != null">Gender Neutral</li>
                <li ng-if="review.single != null">Single Stall</li> <br>
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                <img src="images/toilet2.jpg" alt="" id="toilet2">
                <hr>
        </span>
</div>
