
<p>location review page</p>

<div class="results">

    <input type="text" ng-model="search" placeholder="Search"><br>

    <h3>{{locationReviewsArray[0].name}}</h3>
    <p ng-if="review.type != null">{{review.type}}</p>
    <h5>Address: {{review.address}}</h5>


        <span ng-repeat="review in locationReviewsArray">
                <h5>Rating: {{review.rating}}</h5>
                <p>Comment: {{review.comment}}</p>
                <p>ID: {{review.googleid}}</p>
                <li ng-if="review.family === true">Family Friendly</li>
                <li ng-if="review.handicap === true">Handicap Accessible</li>
                <li ng-if="review.separate != null">Gender Separate</li>
                <li ng-if="review.neutral != null">Gender Neutral</li>
                <li ng-if="review.single != null">Single Stall</li>
                <hr>
        </span>
</div>
