<h2>What Type of Bathroom Are You Looking For?</h2>




<div class="selectcontainer">
  <a href ="#/results">Gender Separate</a>
  <a href ="#/results">Gender Neutral</a>
  <a href ="#/results">Handicap</a>
  <a href ="#/results">Family Friendly</a>
</div>



  <div id="map">  </div>

<br>
{{url}}
<div class="resultListing" ng-repeat="result in resultsDisplay">
<p>{{result.name}}</p>
<p>{{result.vicinity}}</p>
<p>Open now: {{result.opening_hours.open_now}}<p>
<p>Google ID: {{result.id}}</p>


<a ng-href="#/locationreview/{{result.id}}">View Reviews </a> <a href="#/addreview/{{result.id}}">Add Review </a> <a href="">Directions</a>
</div>
