html, body, #map_canvas {
    height: 100%;
    width: 100%;
    font-family: helvetica, arial;
}

#map_canvas {
    position: relative;
}

h2{
  font-family: 'Fira Sans Condensed', sans-serif;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mapContainer {

  width: 400px;
  height: 300px;
}

.marker-labels{
  background-color: white;
}

#map{
  height: 400px;
  width: 100%;
}

#locationMap{
  height: 200px;
  width: 100%;
}

.resultListing{
border: 1px solid black;
width: 50%;
margin-top: 2px;
/*background-color: lightgrey;*/
/*border-color: rgba(121, 201, 158, 1);*/
/*padding: 5 px;*/
margin-left: auto;
margin-right: auto;

padding: 10px;
background-color: #C1DBC0;
border-radius: 10px;
border: 10px solid #87CEFA;

}


/*
$color1: rgba(74, 66, 56, 1);
$color2: rgba(77, 83, 89, 1);
$color3: rgba(80, 132, 132, 1);
$color4: rgba(121, 201, 158, 1);
$color5: rgba(151, 219, 79, 1);*/
