.reviewform{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 450px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color:#F40076;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #F40076;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

textarea:focus, input:focus {
  border: 1px solid #09C;
}

.homePage {
  background: linear-gradient(
                     rgba(20,20,20, .7),
                     rgba(20,20,20, .7)),
                    url("http://static1.squarespace.com/static/53dd6676e4b0fedfbc26ea91/54b6c509e4b062126976d942/5776ea4a20099e4be4366c13/1467910842671/bathroom-453420_960_720.png?format=1000w");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.finder {
  margin: 18% 40% 0% 40%;
  color: orange;
  border: solid 3px white;
  border-radius: 5px;
  background-color: lightgray;
}

.review {
  margin: 5% 40% 5% 40%;
  color: orange;
  border: solid 3px white;
  border-radius: 5px;
  background-color: lightgray;
}

.emergency {
  margin: 0% 40% 18% 40%;
  color: orange;
  border: solid 3px white;
  border-radius: 5px;
  background-color: lightgray;
}
