.homePage {
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background: url('https://static1.squarespace.com/static/56babdc22eeb81df69a5e685/57952fc9e6f2e155ae93f120/5795305ae4fcb5084392d6f2/1469395062902/IMG_6804.jpg?format=1000w') no-repeat center center fixed;
    background linear-gradient: ( rgba(20, 20, 20, .55), rgba(20, 20, 20, .55));
    background-color: black;
}


  /*@media only screen and (max-width : 768px) {
    .homePage .navbar-default .navButton{
      margin-left: 44%;
    }
    .navbar-default {
      position: absolute;
    }
    .resultsBlock {
      width: 95%;
    }
    .page-header {
      background-image: url('data:application/octet-stream;base64,PGh0bWw+CjxoZWFkPgo8dGl0bGU+NDAwIEJhZCBSZXF1ZXN0PC90aXRsZT4KPHN0eWxlPiBib2R5IHsgYmFja2dyb3VuZC1jb2xvcjogI0YyRjJGMjsgY29sb3I6ICMzRTNFM0U7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmOyBmb250LXNpemU6IDEycHg7IH0gcHJlIHsgd29yZC13cmFwOiBicmVhay13b3JkOyB9IDwvc3R5bGU+CjwvaGVhZD4KPGJvZHk+CjxoMT40MDAgQmFkIFJlcXVlc3Q8L2gxPgo8cD48cHJlPnE3U3JlV00wL3FCMHRHMU1nIEAgTW9uLCAyMCBNYXIgMjAxNyAxODoyMDo1MSBHTVQ8L3ByZT4KPHA+PHByZT5TRUMtNDM8L3ByZT4KPHA+PHByZT48L3ByZT4KPC9ib2R5Pgo8L2h0bWw+');
      background-position: center;
    }

}*/

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

.homeLogo {
    margin-bottom: -200px;
    margin-top: 100px;
    opacity: .8;
}

.addReviewLogo {
    width: 60%;
    margin-bottom: -200px;
    margin-top: -100px;
    opacity: .5;
}

.topper a {
  display: inline;
  font-size: 24pt;
  color: white;
  text-decoration: none;
  text-align: justify;
  margin: 10px;
  font-family: 'Yatra One', cursive;
  letter-spacing: .25;
  opacity: .85;
  padding: 1px;
}


.view {
    background-color: white;
}

#container {
    padding: 10px;
    border-radius: 10px;
    border: 15px solid rgb(57, 58, 59);
    width: 85%;
    text-align: left;
    margin: auto;
    color: #383838;
}




/*Star Rating CSS*/
..txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}


nav {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration-color: rgba(0, 0, 0, 1);
    size: 20px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgba(197, 195, 198, .85);
    margin: 0;
    background-color: rgb(57, 58, 59);
    border-radius: 0;
    border: outset 3px rgb(57, 58, 59);
    text-align: center;
}

h4 {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: white;
  text-align: right;

}


.pagination li a {
  color: rgba(197, 195, 198, .85);
  background-color: rgb(57, 58, 59);
}

.pagination li a:hover {
  background-color: rgba(197, 195, 198, .85);
  color: rgb(57, 58, 59);
}

.results  {
  color: rgb(69, 73, 70);
  text-align: left;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-left: 1.2%;
  background: url('https://static1.squarespace.com/static/56babdc22eeb81df69a5e685/57952fc9e6f2e155ae93f120/5795305ae4fcb5084392d6f2/1469395062902/IMG_6804.jpg?format=1000w') no-repeat center center fixed;
  background: linear-gradient( rgba(214, 211, 211, 0.9), rgba(20, 20, 20, .0));
  background-size: cover;
}'}

.resultListing  {
  color: rgb(69, 73, 70);
  text-align: left;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-left: 1.2%;
  background: url('https://static1.squarespace.com/static/56babdc22eeb81df69a5e685/57952fc9e6f2e155ae93f120/5795305ae4fcb5084392d6f2/1469395062902/IMG_6804.jpg?format=1000w') no-repeat center center fixed;
  background: linear-gradient( rgba(214, 211, 211, 0.9), rgba(20, 20, 20, .0)),
  background-size: cover;
}


.results span {
    margin-bottom: 25px;
}


.resultsBlock {
    display: inline-table;
    width: 47%;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    color: rgb(184, 194, 198);
}

.resultsBlock:hover {
  background-color: rgba(32, 32, 33, 0.8);
  color: rgb(200, 200, 196);
  font-size: 12pt;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(32, 32, 33, 0.8);
}

.navbar-default {
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: rgb(57, 58, 59);
    border-radius: 0;
    border: outset 3px rgb(57, 58, 59);
}

.navbar-default li a {
    padding-top: 0;
    padding-bottom: 0;
}

.navIcon {
    background-color: rgb(57, 58, 59);
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

#navPrivyIcon {
  font-family: 'Lobster';
  color: rgb(228, 230, 226);
  font-size: 24pt;
  padding-top: 22px;
}

.navIcon:hover {
    background-color: rgba(126, 131, 136, 0.3);
}

.navbar-default .navButton {
    padding-top: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(228, 230, 226) !important;
    background-color: rgb(57, 58, 59);
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

.navButton:hover {
    background-color: rgba(126, 131, 136, 0.3) !important;
}

.page-header {
    text-align: left;
    margin: 0;
    border-bottom: solid 1px black;
    padding-top: 250px;
    padding-bottom: 50px;
    background-image: url('https://static1.squarespace.com/static/56babdc22eeb81df69a5e685/57952fc9e6f2e155ae93f120/5850ba3f20099ea12cb7c9b7/1481685598384/IMG_1147.JPG?format=1000w');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.page-header h1 span {
   color: white;
   font-family: 'Fira Sans Condensed', sans-serif;
   letter-spacing: .3;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 10px;
   margin-left: 1.2%;
}

#selectHeader {
  padding-top: 100px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar-default .navButton{
    margin-left: 44%;
  }
  .navbar-default {
    position: absolute;
  }
  .resultsBlock {
    width: 95%;
  }
  .page-header {
    background-image: url('data:application/octet-stream;base64,PGh0bWw+CjxoZWFkPgo8dGl0bGU+NDAwIEJhZCBSZXF1ZXN0PC90aXRsZT4KPHN0eWxlPiBib2R5IHsgYmFja2dyb3VuZC1jb2xvcjogI0YyRjJGMjsgY29sb3I6ICMzRTNFM0U7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmOyBmb250LXNpemU6IDEycHg7IH0gcHJlIHsgd29yZC13cmFwOiBicmVhay13b3JkOyB9IDwvc3R5bGU+CjwvaGVhZD4KPGJvZHk+CjxoMT40MDAgQmFkIFJlcXVlc3Q8L2gxPgo8cD48cHJlPnE3U3JlV00wL3FCMHRHMU1nIEAgTW9uLCAyMCBNYXIgMjAxNyAxODoyMDo1MSBHTVQ8L3ByZT4KPHA+PHByZT5TRUMtNDM8L3ByZT4KPHA+PHByZT48L3ByZT4KPC9ib2R5Pgo8L2h0bWw+');
    background-position: center;
  }

  #navPrivyIcon #container {
    padding-top: 13px;
  }

  #map-page-header {
    font-size: 14pt;
  }
}

.detroit {
font-family: 'Yatra One', cursive;
color: white;
text-align: center;
size: 90px;
}
