<div class="page-header">
  <h1><span>Transgender<small> Bathrooms</small></span></h1>
</div>
<div privynav class="stickyNav"></div>

<div class="results">

    <span ng-repeat="review in reviewList | filter:search">
          <div ng-if="review.neutral != null"  class="resultsBlock">
                <h3>{{review.name}}</h3>
                <p ng-if="review.type != null">{{review.type}}</p>
                <h5>Address: {{review.address}}</h5>
                <h5>Rating: {{review.rating}}</h5>
                <p>Comment: {{review.comment}}</p>

                <li ng-if="review.family === true">Family Friendly</li>
                <li ng-if="review.handicap === true">Handicap Accessible</li>
                <li ng-if="review.separate != null">Gender Separate</li>
                <li ng-if="review.neutral != null">Transgender Friendly</li>
                <li ng-if="review.single != null">Single Stall</li>

          </div>
        </span>
</div>
